.gone {
    color: gray;
}
.score {
    text-align: center;
}
td.note {
    white-space: nowrap
}
th {
    white-space: nowrap
}
.dealer {
    background: #b8daff
}
.draggable-player .handle {
    cursor: move
}
.draggable-ghost {
    background: #d8eaff
}
.star {
    height: 3ex
}