{# @var \Symfony\Component\Form\FormView form #}
{# @var array<string, \App\Domain\Table\Loggable\GameSpecification\GameSpecification> specifiedGames #}
{# @var \App\Domain\ReadModel\TablePermissions\TablePermissions permissions #}

        {% if permissions.canLogGame %}
            <h2>{{ 'log.logGame'|trans }}</h2>

            {{ form_start(form) }}
            <div class="card">
                <div class="card-body"
                     data-controller="gameLogger"
                     data-gameLogger-all-specifications-value="{{ specifiedGames|serialize('json') }}"
                >
                    {{ form_widget(form.loggable, {
                        attr: {
                            'data-action': 'change->gameLogger#bidSelected',
                            'data-gameLogger-target': 'bid',
                        }
                    }) }}

                    <div class="game_detail part" data-gameLogger-target="gameDetail">
                        <div class="announcement form-group">
                            <div class="form-check-inline" data-gameLogger-target="onTopOfTroel">
                                {{ form_row(form.onTopOfTroel) }}
                            </div>
                            <div class="col-form-label">
                                {{ 'log.announcedBy'|trans }}
                            </div>
                            <span>{{ form_widget(form.announcers, {
                                    attr: {
                                        'data-gameLogger-target': 'announcingMultiPlayers',
                                        'class': 'form-check-inline' ,
                                        'data-action': 'change->gameLogger#announcersChanged'
                                    }
                                }) }}</span>
                            <span>
                                {{ form_widget(form.announcingPlayer1, {
                                    attr: { 'data-gameLogger-target': 'announcingPlayer1' }
                                }) }}
                                {{ form_widget(form.announcingPlayer2, {
                                    attr: { 'data-gameLogger-target': 'announcingPlayer2' }
                                }) }}
                            </span>
                        </div>
                        <div class="outcome form-group">
                            <div data-gameLogger-target="numberOfTricks">
                            {{ form_label(form.numberOfTricks) }}
                            <span class="trick-count" data-gameLogger-target="trickCount">8</span>
                            {{ form_widget(form.numberOfTricks, {
                                attr: { 'data-action': 'input->gameLogger#trickCountSelected'}
                            }) }}
                            </div>
                            {{ form_widget(form.success, {
                                attr: { 'data-gameLogger-target': 'success'}
                            }) }}
                            <div data-gameLogger-target="winners">
                                {{ form_row(form.winningPlayers, {
                                    attr: { 'class': 'form-check-inline' }
                                }) }}
                            </div>
                        </div>
                        {{ form_row(form.logGame) }}
                    </div>

                    <div class="no_bid part" data-gameLogger-target="noBid">
                        <br />
                        <div class="form-group">
                            <div>
                                {{ 'info.passedAround'|trans|markdown }}
                            </div>
                            {{ form_widget(form.passedAround) }}
                        </div>
                        <div class="form-group">
                            <div>
                                {{ 'info.proposedNobodyAlong'|trans|markdown }}
                            </div>
                            {{ form_row(form.proposedNobodyAlong) }}
                        </div>
                    </div>

                </div>

            </div>
            {{ form_end(form) }}

            <br/>

        {% endif %}