{# @var \App\Domain\ReadModel\ScoreLog\Player\PlayersGroup players #}
{# @var \App\Domain\ValueObject\Player\PlayerIdentifier dealer #}
{# @var \App\Domain\ValueObject\GameNumber gameNumber #}

<tr >
    <th>*</th>
    <th>#</th>
    {% for player in players.present %}
        {# @var \App\Domain\ReadModel\Player\Model\Player player #}
        <th data-playerid="{{ player.playerIdentifier }}" class="{{ html_classes('score', {'dealer': player.playerIdentifier == dealer}) }}">
            {{ player.name }}
            {% if player.numberOfStars > 0 %}
                {% for i in range(1, player.numberOfStars) %}<img class="star" src="{{ asset('images/sterretje.png') }}" alt="{{ 'log.star'|trans }}" />{% endfor %}
            {% endif %}
        </th>
    {% endfor %}
    {# @var \App\Domain\ReadModel\PlayersGroup\PlayerDetails player #}
    {% for player in players.inactive %}
        <th data-playerid="{{ player.playerIdentifier }}" class="score gone">
            {{ player.name }}
            {% if player.numberOfStars > 0 %}
                {% for i in range(1, player.numberOfStars) %}<i class="fa fa-star"></i>{% endfor %}
            {% endif %}
        </th>
    {% endfor %}
    <th class="note">
        {{ 'sheet.note' | trans }}
    </th>
</tr>