        <label for="share-link">{{ 'sheet.shareLink'|trans }}</label>
        <input id="share-link"
               type="url"
               name="share-link"
               readonly="readonly"
               value="{{ app.request.getSchemeAndHttpHost() }}{{ path('watch', {'scoreSheetId': scoreSheetIdentifier.toString }, false) }}"
               class="form-control"
        />
        <button
                id="share-sheet-button"
                type="button"
                class="btn btn-outline-primary"
                data-shareTitle="{{ 'sheet.shareTitle'|trans }}"
                data-shareText="{{ 'sheet.shareText'|trans }}"
                data-shareUrl="{{ path('watch', {'scoreSheetId': scoreSheetIdentifier.toString }) }}"
        >
            <i class="fa fa-share"></i>
            {{ 'sheet.share'|trans }}
        </button>
<br>