{# @var \App\Domain\ReadModel\ScoreLog\ScoreLog scoreLog #}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        {{ include('_namesLine.html.twig', {
            'players': scoreLog.playersGroup,
            'dealer': scoreLog.currentDealer,
            'gameNumber': scoreLog.currentGameNumber
        }) }}
        </thead>

        <tbody>
        {# @var \App\Domain\ReadModel\ScoreLog\Model\ScoreLogEntry entry #}
        {% for entry in scoreLog %}
            <tr id="entry_{{ entry.scoreLineNumber }}">
                <td>
                    {% if entry.scoreFactor.toInteger > 1 %}
                        {% for i in range(2, entry.scoreFactor.toInteger) %}<span class="multiplier">*</span>{% endfor %}
                    {% endif %}
                </td>
                <td>
                    {{ entry.scoreLineNumber }}
                </td>
                {% if entry.scoreLine.note %}
                    {% for player in scoreLog.playersGroup.present %}
                        {# @var \App\Domain\ReadModel\PlayersGroup\PlayerDetails player #}
                        <td id="score_{{ entry.scoreLineNumber }}_{{ player.playerIdentifier }}" class="{{ html_classes('score', {'dealer': entry.dealer == player.playerIdentifier }) }}">
                            {{ entry.scoreLine.francsForPlayer(player.playerIdentifier) }}
                        </td>
                    {% endfor %}
                    {% for player in scoreLog.playersGroup.inactive %}
                        {# @var \App\Domain\ReadModel\PlayersGroup\PlayerDetails player #}
                        <td class="{{ html_classes('score', 'gone', {'dealer': entry.dealer == player.playerIdentifier }) }}">
                            {{ entry.scoreLine.francsForPlayer(player.playerIdentifier) }}
                        </td>
                    {% endfor %}
                    <td class="note" id="note_{{ entry.scoreLineNumber }}">{{ ('game.'~entry.note)|trans([], null, lang)|markdown }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>

        {% if scoreLog.hasEntries %}
        <tfoot>
        {{ include('_namesLine.html.twig', {
            'players': scoreLog.playersGroup,
            'dealer': scoreLog.currentDealer,
            'gameNumber': scoreLog.currentGameNumber
        }) }}
        </tfoot>
        {% endif %}

    </table>
</div>
