{% extends 'base.html.twig' %}

{% block title %}
About.
{% endblock %}

{% block body %}

<div class="about container-sm">

{% markdown %}

{% if (locale == 'nl') %}

<a type="button" class="btn btn-primary" href='javascript: history.go(-1)'>
Terug naar je scoreblad
</a>

Dikdikdik, referentiescoretoepassing voor
[de puntentelling van het traditioneel wiezen](https://www.rijkvanafdronk.be/puntentelling/puntentelling), zoals aanbevolen
door [Rijk van Afdronk vzw](https://www.rijkvanafdronk.be).
Copyright (C) 2019,2020,2021,2022,2023  Johan Vervloet

Dit programma is free software, je kunt het gebruiken, aanpassen of verspreiden
onder de voorwaarden van de [GNU Affero General Public License](https://www.gnu.org/licenses/agpl-3.0.en.html),
zoals gepubliceerd door de Free Software Foundation, versie 3 of (desgewenst) een latere versie.

De broncode staat op [https://www.gitlab.com/rva-vzw/dikdikdik](https://www.gitlab.com/rva-vzw/dikdikdik).

Let op! Ik maakte deze software in de hoop dat ze nuttig zou zijn, maar zonder enige garantie.
De toepassing is niet veel uitgebreider getest dan op de kaartavonden van onze eigen club, dus
als er op een gegeven moment echt veel gebruikers zouden zijn, kan het best zijn dat ze het begeeft.

Mocht de software niet werken op de officiële site, [score.rijkvanafdronk.be](https://score.rijkvanafdronk.be),
laat dat dan even weten op twitter, aan [@vohanj](https://twitter.com/vohanj).

{% else %}

<a type="button" class="btn btn-primary" href='javascript: history.go(-1)'>
Back to your score sheet
</a>

Dikdikdik, reference score application for the
[whist](https://en.wikipedia.org/wiki/Solo_whist) card game, following
[*the* scoring rules](https://www.rijkvanafdronk.be/spelregels/) as
recommended by [Rijk van Afdronk vzw](https://www.score.rijkvanafdronk.be)
Copyright (C) 2019,2020,2021,2022,2023  Johan Vervloet

This program is free software: you can redistribute it and/or modify
it under the terms of the [GNU Affero General Public License](https://www.gnu.org/licenses/agpl-3.0.en.html) as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Source code can be obtained from [https://www.gitlab.com/rva-vzw/dikdikdik](https://www.gitlab.com/rva-vzw/dikdikdik).

Disclaimer: I created this application with the intention of being useful, but without any
warranty. The application wasn't extensively tested, so if some day a lot of people start
using it, it might as well fall apart.

{% endif %}

{% endmarkdown %}
     </div>

{% endblock %}
