<!DOCTYPE html>
{#
    I created this base2 file because I added the javascripts in base.html.twig at an atypical place, to get
    FOS JsRouting working.

    Now maybe we can get rid of FOS JsRouting, once Symfony Turbo is decently integrated. But we'll see about this.
#}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dik! Dik! Dik!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app2') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
