{% extends 'base.html.twig' %}

{% block title %}
Pa pa pa!
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h2>Kaartje leggen?</h2>
    </div>

    <div class="container mt-4">

        <!-- Buttons -->
        <div class="d-flex justify-content-around mb-4">
            <a class="btn btn-primary btn-lg" href="{{ path('players', {
                '_locale': 'nl',
                'tableId': tableId
            }) }}">Nieuw scoreblad (NL)</a>
            <a class="btn btn-secondary btn-lg" href="{{ path('players', {
                '_locale': 'en',
                'tableId': tableId
            }) }}">New score sheet (EN)</a>
        </div>

        <!-- Stats Graph -->
        <div class="stats-graph mb-4">
            {{ render_chart(chart) }}
            <span>Momenteel actieve tafels: {{ activeTables }}</span>
        </div>

        <!-- Disclaimer -->
        <div class="alert alert-primary" role="alert">
            Deze toepassing is altijd in ontwikkeling. Mocht er iets plots niet meer
            werken zoals verwacht, <a href="mailto:dikdikdik@rijkvanafdronk.be">stuur me een mailtje</a>.
        </div>

        <!-- Game Rules Reference -->
        <p>
            <em>
                Deze score-app volgt de
                <a href="https://www.rijkvanafdronk.be/puntentelling/puntentelling/">puntentelling voor het Traditioneel Wiezen</a>,
                zoals aanbevolen door <a href="https://www.rijkvanafdronk.be">Rijk van Afdronk vzw</a>.
            </em>
        </p>

        <!-- Source code -->
        <p>
            <em>
                Source code
                <a href="https://gitlab.com/rva-vzw/dikdikdik">available on gitlab</a>
            </em>
        </p>
    </div>
{% endblock %}
