{# @var \App\Domain\ReadModel\TablePermissions\TablePermissions permissions #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ 'table.extraActions' | trans }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {# Disable Symfony Turbo because it does not redirect to an anchor 🙁🙁 #}
            <div class="col-sm-12" data-turbo="false">
                <h2>{{ 'table.extraActions'|trans }}</h2>

                {{ form_start(form) }}
                <div class="form-group">
                    <div>
                        {{ 'correction.undoHelp'|trans|markdown }}
                    </div>
                    {{ form_widget(form.undo) }}
                </div>
                <div class="form-group">
                    <div>
                        {{ 'info.finalRound'|trans|markdown }}
                    </div>
                    {{ form_widget(form.finalRound) }}
                </div>
                <div class="form-group">
                    <div>
                        {{ 'info.star'|trans|markdown }}
                    </div>

                    {{ form_widget(form.player) }}
                    {{ form_widget(form.star) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
