{# @var \Symfony\Component\Form\FormView logGameForm #}
{# @var array<string, \App\Domain\Table\Loggable\GameSpecification\GameSpecification> specifiedGames #}
{# @var \App\Domain\ReadModel\TablePermissions\TablePermissions permissions #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ 'log.logGame' | trans }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {# Disable Symfony Turbo because it does not redirect to an anchor 🙁🙁 #}
                <div id="score-form" data-turbo="false">
                    {{ include('_log.html.twig', {
                        specifiedGames: specifiedGames,
                        permissions: permissions,
                        form: logGameForm,
                    }) }}
                </div>

            </div>
            <div>
                &nbsp;<br />
                {# Quick workaround for #335 #}
            </div>
        </div>
    </div>
{% endblock %}