{% extends 'base.html.twig' %}

{% block title %}
Het leven is niet gemakkelijk.
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/dikdikdik.css">
{% endblock %}

{% block body %}
    <p>
        The application is in maintenance mode. Please come back later.
    </p>
    <p>
        De toepassing is in onderhoudsmodus. Kom later nog eens terug.
    </p>
{% endblock %}
