{% extends 'base.html.twig' %}

{# @var \App\Domain\ReadModel\ScoreLog\Model\CurrentGameAndPlayers gameAndPlayers #}
{# @var \App\Domain\ReadModel\TablePermissions\TablePermissions permissions #}

{% block title %}
    {{ 'table.managePlayers' | trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="card-title">{{ 'configuration.table'|trans }}</h1>
            </div>
        </div>

        {{ form_start(form, {attr: {'data-controller': 'playersForm'}}) }}
        <div class="row">
            <div class="col-sm-6">
                <h2 class="h3">{{ 'table.managePlayers'|trans }}</h2>

                {% if gameAndPlayers.playersGroup.present is not empty %}

                {{ 'table.activePlayers'|trans }}

                <ul class="list-group draggable present-players"
                    data-controller="playerOrder"
                    data-endpoint="{{ path('api.table.playerOrder', {
                        tableId: permissions.tableIdentifier,
                        game: gameAndPlayers.currentGameNumber,
                    }) }}"
                >
                    {% for player in gameAndPlayers.playersGroup.present %}
                        <li class="list-group-item draggable-player d-flex justify-content-between align-items-center"  data-playerid="{{ player.playerIdentifier }}">
                            <span class="handle">↕️
                            {{ player.name }}</span>
                            {% if permissions.canRemovePlayer %}
                                <span class="pull-right">
                                    <button data-action="click->playersForm#kickPlayer"
                                            data-playerid="{{ player.playerIdentifier }}"
                                            type="button"
                                            class="btn btn-link bnt-sm kick-button">
                                        {{ 'table.delete'|trans }} <i class="delete-icon fa fa-trash-o"></i>
                                    </button>
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul> <br />

                {% endif %}

                {% if gameAndPlayers.playersGroup.inactive is not empty %}

                {{ 'table.inactivePlayers'|trans }}
                <ul class="list-group gone-players">
                    {% for player in gameAndPlayers.playersGroup.inactive %}
                        <li class="list-group-item d-flex justify-content-between align-items-center" data-playerid="{{ player.playerIdentifier }}">
                            {{ playerName(player) }}
                            {% if permissions.canAddPlayer %}
                                <span class="pull-right">
                                    <button data-action="click->playersForm#rejoinPlayer"
                                            data-playerid="{{ player.playerIdentifier }}"
                                            type="button"
                                            class="btn btn-link bnt-sm rejoin-button">
                                        {{ 'table.reactivate'|trans }}
                                    </button>
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul> <br />

                {% endif %}

                {% if form.addPlayer is defined %}

                    {{ form_row(form.newPlayerName, {'attr': {'autofocus': 'autofocus'}}) }}
                    {{ form_row(form.addPlayer) }}
                    {% if form.dealerId is defined %}
                        {{ form_row(form.dealerId) }}
                    {% endif %}

                {% endif %}
            </div>
            {% if form.conventionsName is defined %}
                <div class="col-sm-6 " >
                    <h2 class="h3">{{ 'configuration.rules'|trans }}</h2>
                    {{ form_row(form.conventionsName) }}
                </div>
            {% endif %}
        </div>
        {{ form_end(form) }}

        <div class="row">
            <div class="col-sm-12">
                <!-- quick hack to make sure the 'to score sheet' button
                is also visible for Firefox on android -->
                <br />
                <br />
            </div>
        </div>
    </div>

{% endblock %}