{% extends 'base.html.twig' %}

{% block title %}
    Player hack
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="form-group">
                    <label for="permutation">Permutation</label>
                    <input type="text" class="form-control" name="permutation" id="permutation" placeholder="012345"/>
                </div>
                <button type="submit" class="btn btn-primary">Play</button>
            </form>
        </div>
    </div>
{% endblock %}
