{# @var \App\Domain\ReadModel\PlayersGroup\PlayerDetailsSet players #}
{# @var \App\Domain\ReadModel\ScoreLog\ScoreLog scoreLog #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ 'sheet.pageTitle'|trans({'{id}': scoreSheetId}) }}
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>{{ 'sheet.title'|trans }}</h1>
        <p>
            <a href="{{ path('language') }}">{{ 'app.playYourself' | trans }}</a>
        </p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div id="sheet" >
                    {{ include('_scoreSheet.sheet.html.twig', {
                        players: players,
                        scoreLog: scoreLog
                    }) }}
                </div>
            </div>
        </div>

        <div class="row" id="page-bottom" data-controller="autoRefresh" data-huburl="{{ hub_url }}" data-topic="{{ constant('\\App\\Infrastructure\\Publishing\\RenderedSheetPublisher::TOPIC')|format(scoreSheetId) }}">
            <div class="col">
                <a class="btn btn-outline-primary"
                   data-autoRefresh-target="refreshButton"
                   href="{{ path('watch', {scoreSheetId: scoreLog.scoreSheetIdentifier}) }}?blah={{ random() }}#page-bottom">
                   {{ 'app.refresh'|trans }}
                </a>
            </div>
        </div>

    </div>
{% endblock %}