{# @var \App\Domain\ReadModel\ScoreLog\ScoreLog scoreLog #}
{# @var \App\Domain\ValueObject\Table\TableIdentifier tableIdentifier #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ 'table.pageTitle'|trans({'{id}': tableIdentifier }) }}
{% endblock %}

{% block javascripts %}
    <!-- hi -->
    {{ importmap(['app2', 'shareSheet']) }}
{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>{{ 'app.title'|trans }} <small>{{ 'app.baseline'|trans }}</small></h1>
        <p>
            <a href="{{ path('about') }}">{{ 'app.about' | trans }}</a>
            |
            <a href="https://www.rijkvanafdronk.be/apps/dikdikdik/#problemen-oplossen">{{ 'app.problems' | trans }}</a>
        </p>
    </div>

    <div class="container-fluid">

        <div class="row  {% if scoreLog.numberOfEntries > 8 %} align-items-end {% endif %}">
            <div class="col">
                {{ include('_scoreSheet.share.html.twig', {
                    scoreSheetIdentifier: scoreLog.scoreSheetIdentifier
                }) }}
                <div id="sheet">
                    {{ include('_scoreSheet.sheet.html.twig', {
                        scoreLog: scoreLog,
                        lang: lang,
                    }) }}
                </div>
                <div>
                    {{ form_start(bidForm, {attr: {'class': 'form-inline'}}) }}
                    {# The css classes I use here are probably wrong :-/ #}
                    <div class="form-row" data-controller="selectBid">
                        <a
                                href="{{ path('players', {tableId: tableIdentifier}) }}"
                                title="{{ 'table.managePlayers'|trans }}"
                                class="btn btn-outline-secondary col-2"
                                id="manage-players-link"
                        >
                            👪
                        </a>
                        {{ form_widget(bidForm.loggable, {attr: {
                            'class': 'col-8',
                            'data-action': 'change->selectBid#bidSelected',
                            'data-selectBid-target': 'bid'
                        }}) }}
                        {{ form_widget(bidForm.submit, {attr: {
                            'class': 'd-none',
                            'data-selectBid-target': 'submit'
                        }}) }}
                        <a
                                href="{{ path('extra', {tableId: tableIdentifier}) }}"
                                title="{{ 'table.extraActions'|trans }}"
                                class="btn btn-outline-secondary col-2"
                                id="extra-actions-link"
                        >
                            🪄
                        </a>
                    </div>
                    {{ form_end(bidForm) }}
                </div>

            </div>
        </div>

        <div class="row">
            <div cass="col">
                &nbsp;
            </div>
        </div>

    </div>


{% endblock %}