{# @var \App\Infrastructure\Components\FinalRoundComponent this #}

<div class="final-round" {{ attributes }}>
    <div data-controller="expandable">
       <h2 data-expandable-target="title" >
           <a href="javascript:void(0)">{{ 'finalRound.finalRound'|trans }} <i class="fa fa-chevron-down"></i></a>
       </h2>
        <div data-expandable-target="body">
            <button
                    class="btn btn-outline-primary"
                    type="button"
                    data-action="live#action"
                    data-action-name="prevent|announceFinalRound"
            >
                {{ 'finalRound.announce'|trans }}
            </button>
        </div>
    </div>
    <br/>
</div>