{# @var \App\Infrastructure\Components\StarPlayerComponent this #}

<div {{ attributes }}>
    {% if not this.knownPlayers.empty %}
        <div data-controller="expandable">
            <h2 data-expandable-target="title">
                <a href="javascript:void(0)">{{ 'log.star'|trans }} <i class="fa fa-chevron-down"></i></a>
            </h2>
            <div data-expandable-target="body" class="form-group star-player">
                <select
                        class="form-control"
                        data-action="live#update"
                        data-model="playerIdentifier"
                        name="player_to_star"
                >
                    <option value="">{{ 'app.choose'|trans }}</option>
                    {% for player in this.knownPlayers %}
                        <option
                                {% if player.playerIdentifier.toString == this.playerIdentifier %} selected {% endif%}
                                value="{{ player.playerIdentifier }}"
                        >
                            {{ player.name }}
                        </option>
                    {% endfor %}
                </select>
                <button
                        type="submit"
                        class="btn btn-outline-primary"
                        data-action="live#action"
                        data-action-name="prevent|starPlayer"
                        {% if this.playerIdentifier is empty %}
                            disabled="disabled"
                        {% endif %}
                >
                    {{ 'log.star'|trans }}
                </button>
            </div>
        </div>
        <br />
    {% endif %}
</div>