{# @var \App\Infrastructure\Components\UndoComponent this #}

<button {{ attributes }}
        class="btn btn-outline-primary correction-button"
        type="button"
        data-action="live#action"
        data-action-name="prevent|undo"
>
    {{ 'correction.undo'|trans }}
</button>